<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      cryptoPWA
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addHolding()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <div class="message" *ngIf="!holdingsProvider.holdings.length">

        <p><strong>cryptoPWA</strong> is a <strong>P</strong>rogressive <strong>W</strong>eb <strong>A</strong>pplication that allows you to keep track of the approximate worth of your cryptocurency portfolio.</p>

        <p>A PWA is like a normal application from the app store, but you can access it directly through the web. You may also add this page to your home screen to launch it like your other applications.</p>

        <p>No account required, just hit the button below to start tracking your coins in whatever currency you wish!</p>

        <button ion-button full (click)="addHolding()" color="primary">Add Coins</button>

    </div>

    <ion-refresher *ngIf="holdingsProvider.holdings.length" (ionRefresh)="refreshPrices($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list no-lines>

        <ion-item-sliding *ngFor="let holding of holdingsProvider.holdings">

          <ion-item class="holding">
            <p><strong>{{holding.crypto}}/{{holding.currency}}</strong></p>
            <p class="holding-data"><strong>Coins:</strong> {{holding.amount}} <strong>Actual Value: </strong> {{holding.value | number}} {{holding.currency}}</p>
            <p *ngIf="holding.buyingDate" class="holding-data"><strong>Buying Date: </strong>{{holding.buyingDate | date:'fullDate'}}</p>
            <p *ngIf="holding.initialBuyingPrice" class="holding-data">
              <strong>Initial Buying Price: </strong>{{holding.initialBuyingPrice | number}} {{holding.currency}}
            </p>
            <span *ngIf="holding.value > 0" class="results">
              <p class="value">{{holding.amount * holding.value | number}} {{holding.currency}}</p>
              <p *ngIf="holding.value >= holding.initialBuyingPrice && holding.initialBuyingPrice > 0" class="value profit">Calc Here</p>
              <p *ngIf="holding.value < holding.initialBuyingPrice && holding.initialBuyingPrice > 0" class="value loss">Calc Here</p>
            </span>
          </ion-item>

          <ion-item-options>
            <button ion-button icon-only color="danger" (click)="holdingsProvider.removeHolding(holding)"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content>

<ion-footer padding>

    <p><strong>Disclaimer:</strong> Do not use this application to make investment decisions. Displayed prices may not reflect actual prices.</p>

</ion-footer>
